* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-text-color: hsl(232, 17%, 35%);
    --text-color: hsl(274, 84%, 12%);
    --bc-heading: hsl(218, 17%, 62%);
    --mid-color: hsl(275, 18%, 79%);
    --bc-main-color: hsl(233, 100%, 97%);
    --ice-cream-color: hsl(312, 91%, 96%);

    --ff-title: 'Staatliches', cursive;
    --ff-texts: 'Palanquin', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;

    font-size: 62.5%;
    --fs-body: 1.6rem;

}

body {
    background-color: var(--bc-main-color);
    font-size: var(--fs-body);
}

.page {
    max-width: clamp(38.4rem, 28rem + 60vw, 70.0rem);
    margin: 0 auto;
}

@media (min-width: 750px) {
    .header{
        background-color: var(--bc-heading);
        display: flex;
        flex-direction: column;
        width: 38.0rem;
        height: 100vh;
    }

    .page .header p {
        font-family: var(--ff-roboto);
        font-size: 2.4rem;
        line-height: 2.0rem;
        color: white;
        margin: 3.2rem;
        text-align: center;

        margin: none;
    }

    .page {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }

    .page main {
        margin: 6.4rem 9.8rem 0;
        grid-template-areas: "A B C"
        "D B F"
        "D E F";
    }

    main > div:nth-child(1) {
        grid-area: A;
    }

    main > div:nth-child(2) {
        grid-area: B;
    }

    main > div:nth-child(3) {
        grid-area: C;
    }
    main > div:nth-child(4) {
        grid-area: D;
    }
    main > div:nth-child(5) {
        grid-area: E;
    }
    main > div:nth-child(6) {
        grid-area: F;
    }

   .main footer {
        display: block;
    }

    footer p {
        font-family: var(--ff-open-sans);
        font-size: 1.4rem;
        line-height: 2.8rem;
        margin: 5.0rem 0 4.6rem 0;
    }

    .main main .card h2 {
        display: none;
    }

}

header {
    background-color: var(--bc-heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 0 2.9rem;
    gap: 3.2rem;
}

header img {
    width: 13.7rem;
    height: auto;
}

header h1 {
    color: white;
    font-family: var(--ff-title);
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;
    background-color: var(--mid-color);
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: auto;
    padding: 0 3.2rem;
    display: grid;
    gap: 3.2rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.header > div:nth-child(2) {
    align-items: center;
}

.header p {

    margin: 1.4rem auto 6.3rem;
    
    font-family: var(--ff-texts);
    font-size: 2.0rem;
    line-height: 1.5rem;
    font-weight: 400;

    color: var(--text-color);
    text-align: center;
    margin-bottom: 6.3rem;

    width: 30.5rem;
}


.card {
    font-family: var(--ff-title);
    position: relative;
}

.card img {
    width: 100%;
    height: auto;

    transition: 400ms;
    animation: downtop 400ms;
}

.card img:hover {
    transform: scale(1.1);
}

.card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    font-family: var(--ff-title);
    color: var(--dark-text-color);
    font-size: 2.0rem;
    line-height: 3.4rem;
    font-weight: 400;

    background-color: var(--ice-cream-color);
    border-radius: 2.0rem;
    padding: 1px 2.4rem;

    animation: topdown 400ms 200ms backwards;
}

footer {
    display: none;
}



@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}